.box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  cursor: pointer;
}

.box.inactive {
  border: 1px solid grey;
  background-color: #ccc;
  cursor:not-allowed;
}

.box-container {
  height: 20px;
}